# .gitconfig

[user]
	name = PastaMasta
	email = pasta.masta2902@gmail.com
[core]
	excludesfile = ~/.gitignore

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[credential]
    helper = store

[alias]
	kermit = commit
