# .gitconfig

[user]
  name = PastaMasta
  email = pasta.masta2902@gmail.com

[core]
  excludesfile = ~/.gitignore
  pager = diffr | less -R

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[credential]
  helper = cache
# Use gh cli for github auth:
# $ gh auth login
[credential "https://github.com"]
        helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper = !/usr/bin/gh auth git-credential
[url "https://github.com/"]
        insteadOf = git@github.com:

[alias]
  yeet = push
  kermit = commit
  undo = reset --soft HEAD~1
  vimdiff = difftool
  open = !"bash -c '. $HOME/.bashrc ; git_open_repo_in_browser '"$1" "

[interactive]
  diffFilter = diffr

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[pull]
  rebase = true

[push]
  autoSetupRemote = true

#
# Example to use when working in a corpo environment to keep personal and corp seperate:
#
# [include]
#   path = ~/personal/backpack/home/.gitconfig
#
# ###############################################################################
# # Local overwrites
# [user]
#   name = realname
#   email = realname@example.com
# ###############################################################################
#
# # Re-overwrite if back in personal
# [includeIf "gitdir:~/personal/"]
#   path = ~/personal/backpack/home/.gitconfig
