# .gitconfig

[user]
  name = PastaMasta
  email = pasta.masta2902@gmail.com

[core]
  excludesfile = ~/.gitignore

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[credential]
  helper = cache

[alias]
  kermit = commit
  undo = reset --soft HEAD~1

[pager]
  # diff-highlight is script provided by git that shows word-by-word diff
  log  = /usr/share/git-core/contrib/diff-highlight | less
  show = /usr/share/git-core/contrib/diff-highlight | less
  diff = /usr/share/git-core/contrib/diff-highlight | less

[diff]
        tool = vimdiff
[difftool]
        prompt = false
[alias]
        vimdiff = difftool
